<h1>Log In</h1>

<form method="POST" action="/log_in">
  <label>
    Email
    <input type="email" name="email" />
  </label>

  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit" class="btn btn-default">Log In</button>
</form>

<form method="GET" action="/sign_up">
<button type="link" class="btn btn-default">Don't have an account yet?</button>
</form>

<form method="GET" action="/forgot_password">
<button type="link" class="btn btn-default">Forgot Password?</button>
</form>
