<p><h1><%= @page_title %></h1></p>
<table>
			<tr>
				<td> <a href="http://pjb3.github.io/betastore/products/hat"> <img src="http://pjb3.github.io/betastore/products/hat.jpg"/> <p>Hat</p> </a> </td>
				<td> <a href="http://pjb3.github.io/betastore/products/hoodie"> <img src="http://pjb3.github.io/betastore/products/hoodie.jpg"/> <p>Hoodie</p></a> </td>
				<td> <a href="http://pjb3.github.io/betastore/products/iphone_case"> <img src="http://pjb3.github.io/betastore/products/iphone_case.jpg"/> <p>iPhone Case</p> </a> </td>
			</tr>
			<tr>
				<td> <a href="http://pjb3.github.io/betastore/products/journal"> <img src="http://pjb3.github.io/betastore/products/journal.jpg"/> <p>Journal</p> </a> </td>
				<td> <a href="http://pjb3.github.io/betastore/products/shirt"> <img src="http://pjb3.github.io/betastore/products/shirt.jpg"/> <p>Shirt</p> </a> </td>
				<td> <a href="http://pjb3.github.io/betastore/products/sticker"> <img src="http://pjb3.github.io/betastore/products/sticker.jpg"/> <p>Sticker</p> </a> </td>
			</tr>
		</table>

<% if cookies[:email].present? %>
	<%= link_to "Log Out", log_out_path, method: 'post' %>
<% else %>
 	<%= link_to "Log In", log_in_path, method: 'get' %>
<% end %>
